.page-container {
    height: 95vh;
    display: flex;
    justify-content: center;
    /* aligns items vertically */
    align-items: center;
    /* aligns items horizontally */
}

#start-page,
#instruction-page {
    /* align-items: center; */
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
}

.login-section,
.register-section {
    background-color: #c4daff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #e3ac12;
    width: 400px;
}

.login-section {
    margin-right: 20px;
}

.register-section {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #0a254f;
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #ffffff;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: "Pixelade", sans-serif;
    background-color: #e3ac12;
    color: #0a254f;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-shadow: 1px 1px #ffffff;
}

input[type="submit"]:hover {
    background-color: #ffcc33;
    color: #0a254f;
}

.warning {
    margin-top: 16px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(231, 36, 36);
}

a {
    color: #c4daff;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: "Pixelade";
    src: url("./assets/pixelade/PIXELADE.TTF") format("truetype");
}

body {
    font-family: "Pixelade", sans-serif;
    background: url("./assets/background2.png") no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}


/* start page styles */

.start-page-title {
    margin-top: 200px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ff0000, #f5fa00, #8d0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* position: absolute; */
}

.start-page-button {
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 4px 4px #000;
    stroke: #000;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    /* position: absolute; */
}


/* Instruction page styles */

.instruction-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100vh;
    background: rgba(196, 218, 255, 1);
    opacity: 1;
    border: 5px solid rgba(227, 172, 18, 1);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    overflow: auto;
    /* testing */
    /* display: none; */
}

.instruction-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.instruction-title {
    font-size: 4.5rem;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.instruction-text {
    position: absolute;
    top: 210px;
    width: 75%;
    margin-left: 10%;
    font-size: 1.5rem;
    /* testing */
    /* display: none; */
}

.page-bottom-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e3ac12;
    color: #0a254f;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-family: "Pixelade", sans-serif;
}


/* Lobby Page Styles */

.lobby-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80vh;
    background: rgba(196, 218, 255, 1);
    opacity: 1;
    border: 5px solid rgba(227, 172, 18, 1);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    overflow: hidden;
    display: flex;
    /* testing */
    /* display: none; */
}

.lobby-list-container {
    margin-left: 20px;
    margin-top: 20px;
    flex-grow: 1;
}

.online-players,
.score-board {
    margin: 10px;
    width: 200px;
}

.table-container {
    width: 90%;
    height: 70%;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    overflow: auto;
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
}

.table td {
    padding: 10px;
    background-color: #A7D285;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 5px;
}

.table td {
    border-color: rgb(53, 53, 53);
    border-width: 1px;
}

#players-ranking-table {
    font-size: 1.5rem;
}


/* game end pop up style */

.game-end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60vh;
    background: rgba(136, 58, 149, 0.8);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: #000;
}

.win-message {
    font-size: 60px;
    top: 0%;
    position: absolute;
}

.line {
    position: absolute;
    width: 88%;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: rotate(0deg);
}

#line1 {
    top: 20%;
}

.game-end-table {
    /* position: absolute; */
    /* margin-top: -16%; */
    width: 88%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 24px;
}

#game-stat {
    top: 25%;
}

#reward {
    top: 58%;
}

.game-end-wrapper {
    margin-top: 5%;
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#game-stat {
    flex-grow: 1;
    width: 30%;
}

#end-game-ranking {
    flex-grow: 0;
    width: 60%;
}

#end-game-players-ranking-table {
    color: #000000;
    font-size: 20px;
}

#join-player1 {
    width: 150px;
    position: fixed;
    left: 25%;
    bottom: 50px;
    transform: translate(-50%);
}

#join-player2 {
    position: fixed;
    width: 150px;
    right: 30%;
    bottom: 50px;
    transform: translate(50%);
}


/* Gaming Canvas */

#game-canvas {
    margin-bottom: 10px;
}

.instruction-text {
    height: 65%;
    /* set a fixed height */
    overflow-y: scroll;
    /* add a vertical scrollbar */
}